---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Cards from "../components/Cards.astro";
---

<MainLayout title="Design-system – egen portfolio">
  <article class="max-w-screen-xl mx-auto">
    <div class="prose">
      <h1 class="text-xlarge mt-sm">Design system!</h1>
      <h2 class="text-large font-light mt-sm">
        Lavet efter design-systemet til egen portfolio <br /><em class="font-light">(med enkelte undtagelser)</em>
      </h2>
      <hr class="my-lg" />
    </div>
    <section>
      <h2 class="text-large font-semibold mt-lg">Typografi</h2>
      <h3 class="text-medium mb-sm">Størrelse</h3>
      <div class="flex flex-col [&>p]:place-content-center gap-sm max-w-9xl">
        <p class="font-light">Brødtekst</p>
        <p class="text-regular">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae rerum, minima molestias doloribus excepturi ab reprehenderit placeat
          dignissimos quia ratione deserunt unde, similique, vitae fuga nulla veniam architecto quaerat. Maiores.
        </p>
        <div class="pt-md"></div>
        <p class="text-small">Small</p>
        <p class="text-base">Base</p>
        <p class="text-medium">Regular</p>
        <p class="text-large">Large</p>
        <p class="text-xlarge">XLarge</p>
      </div>
      <h3 class="text-medium mt-md mb-sm">Vægt</h3>
      <div class="flex flex-col [&>p]:place-content-center gap-xxs">
        <p class="font-light">Light</p>
        <p class="font-regular">Regular</p>
        <p class="font-bold">Bold</p>
        <p class="font-extrabold">Extrabold</p>
      </div>
    </section>
    <div class="pt-md"></div>
    <section>
      <h2 class="text-large font-semibold mt-lg mb-sm">Farver</h2>
      <h3 class="text-small font-semibold">Red</h3>
      <div class="flex [&>p]:text-center [&>p]:place-content-center">
        <p class="w-lg h-lg bg-red-50">50</p>
        <p class="w-lg h-lg bg-red-100">100</p>
        <p class="w-lg h-lg bg-red-200">200</p>
        <p class="w-lg h-lg bg-red-300">300</p>
        <p class="w-lg h-lg bg-red-400">400</p>
        <p class="w-lg h-lg bg-red-500 text-neutral-50">500</p>
        <p class="w-lg h-lg bg-red-600 text-neutral-50">600</p>
        <p class="w-lg h-lg bg-red-700 text-neutral-50">700</p>
        <p class="w-lg h-lg bg-red-800 text-neutral-50">800</p>
        <p class="w-lg h-lg bg-red-900 text-white">900</p>
      </div>
      <div class="pt-md"></div>
      <h3 class="text-small font-semibold mt-sm">Blue</h3>
      <div class="flex [&>p]:text-center [&>p]:place-content-center">
        <p class="w-lg h-lg bg-blue-50">50</p>
        <p class="w-lg h-lg bg-blue-100">100</p>
        <p class="w-lg h-lg bg-blue-200">200</p>
        <p class="w-lg h-lg bg-blue-300">300</p>
        <p class="w-lg h-lg bg-blue-400">400</p>
        <p class="w-lg h-lg bg-blue-500 text-neutral-50">500</p>
        <p class="w-lg h-lg bg-blue-600 text-neutral-50">600</p>
        <p class="w-lg h-lg bg-blue-700 text-neutral-50">700</p>
        <p class="w-lg h-lg bg-blue-800 text-neutral-50">800</p>
        <p class="w-lg h-lg bg-blue-900 text-white">900</p>
      </div>
      <div class="pt-md"></div>
      <h3 class="text-small font-semibold mt-sm">Grey</h3>
      <div class="flex [&>p]:text-center [&>p]:place-content-center">
        <p class="w-lg h-lg bg-grey-50">50</p>
        <p class="w-lg h-lg bg-grey-100">100</p>
        <p class="w-lg h-lg bg-grey-200">200</p>
        <p class="w-lg h-lg bg-grey-300">300</p>
        <p class="w-lg h-lg bg-grey-400">400</p>
        <p class="w-lg h-lg bg-grey-500 text-neutral-50">500</p>
        <p class="w-lg h-lg bg-grey-600 text-neutral-50">600</p>
        <p class="w-lg h-lg bg-grey-700 text-neutral-50">700</p>
        <p class="w-lg h-lg bg-grey-800 text-neutral-50">800</p>
        <p class="w-lg h-lg bg-grey-900 text-white">900</p>
      </div>
      <div class="pt-md"></div>
    </section>
    <section>
      <h2 class="text-large font-semibold mt-lg mb-sm">Spacing</h2>
      <div class="flex flex-col [&>p]:text-center [&>p]:place-content-center gap-xxs">
        <p class="w-xs h-lg bg-blue-300 mb-sm">xs</p>
        <p class="w-sm h-lg bg-blue-300 mb-sm">sm</p>
        <p class="w-md h-lg bg-blue-300 mb-sm">md</p>
        <p class="w-lg h-lg bg-blue-300 mb-sm">lg</p>
        <p class="w-xl h-lg bg-blue-300">xl</p>
      </div>
    </section>
    <div class="pt-md"></div>
    <section>
      <h2 class="text-large font-semibold mt-lg mb-sm">Borders</h2>
      <h3 class="text-small font-semibold mb-sm">Border width</h3>
      <div class="flex gap-xxs [&>p]:text-center [&>p]:place-content-center">
        <p class="w-lg h-lg border-0 border-blue-500 mr-sm">0</p>
        <p class="w-lg h-lg border border-blue-500">Main</p>
      </div>
      <h3 class="text-small font-semibold mt-md mb-sm">Border radius</h3>
      <div class="flex gap-xxs [&>p]:text-center [&>p]:place-content-center">
        <p class="w-lg h-lg border-0 border-blue-500 rounded-none mr-sm">None</p>
        <p class="w-lg h-lg border border-blue-500 rounded">Main</p>
      </div>
    </section>
    <div class="pt-md"></div>
    <section>
      <h2 class="text-large font-semibold mt-lg mb-sm">Shadows</h2>
      <div class="flex gap-xxs [&>p]:text-center [&>p]:place-content-center">
        <p class="w-32 h-lg border border-blue-500 shadow-sm mr-sm">sm</p>
        <p class="w-32 h-lg border border-blue-500 shadow-md mr-sm">md</p>
        <p class="w-32 h-lg border border-blue-500 shadow-lg mr-sm">lg</p>
        <p class="w-32 h-lg border border-blue-500 shadow-xl mr-sm">xl</p>
      </div>
    </section>
    <div class="pt-md"></div>
    <section>
      <h2 class="text-large font-semibold mt-lg">Card</h2>
      <section class="grid grid-cols-2 gap-md">
        <Cards
          url="#"
          cardimage="ballroom.jpg"
          cardimagealt="Et par der danser ballroom"
          badgenyt="true"
          badgerabat="true"
          badgerabatsats="10%"
          badgefaapladser="true"
          holdnavn="Ballroom for begyndere"
          tidspunkt="Fredag 20-22"
          aldersgruppe="25+"
          niveau="Begynder"
          pladserpaaholdet="20"
          lokale="Koncertsalen"
          holdbeskrivelse="Ballroom er en meget romantisk dans. Så find din partner, og meld jer til ballroom dans for begynder, og mærk suset i den romantiske dans."
          underviserfoto="karnahage.png"
          underviserfotoalt="Karna Hage - underviser på ballroom for begyndere"
          undervisernavn="Karna Hage"
          underviserinfo="Karna er uddannet Ballroom instruktør fra Danse-Staffans skole og har 20 års erfaring som danseinstruktør."
        />

        <Cards
          url="#"
          cardimage="hip-hop.jpg"
          cardimagealt="Hip-hoppere"
          badgenyt="false"
          badgerabat="false"
          badgerabatsats="0"
          badgefaapladser="false"
          holdnavn="Far og børn Hip-hop"
          tidspunkt="Torsdag 16-17"
          aldersgruppe="Alle"
          niveau="Alle"
          pladserpaaholdet="40"
          lokale="Forbrændingen"
          holdbeskrivelse="Hip-hop får pulsen op. Så grib fat i dine børn, og få trænet far-flæsket væk, så du kan føle dig 20 år yngre igen."
          underviserfoto="fredefidus.jpg"
          underviserfotoalt="Frede Fidus - underviser på Far og børn hip-hop"
          undervisernavn="Frede Fidus"
          underviserinfo="Frede Fidus har turneret rundt med alle de store, blandt andet Nik & Jay. Nu deler han danseglæden gennem undervisning."
        />

        <Cards
          url="#"
          cardimage="folkedans.jpg"
          cardimagealt="Folkedansere i gang"
          badgenyt="false"
          badgerabat="true"
          badgerabatsats="20%"
          badgefaapladser="false"
          holdnavn="Folkedans"
          tidspunkt="Tirsdag 13-16"
          aldersgruppe="60+"
          niveau="Fortsætter"
          pladserpaaholdet="40"
          lokale="Vestibulen"
          holdbeskrivelse="Holdet til alle jer, der elsker traditioner. Folkedans er blevet populært igen - og her får du en grundig indføring i forskellige typer folkedans."
          underviserfoto="mogensferdo.jpg"
          underviserfotoalt="Mogens Ferdo - underviser på Folkedans"
          undervisernavn="Mogens Ferdo"
          underviserinfo="Mogens Ferdo er af den gamle skole. Hans undervisning består af lige dele ros og revser, for som Mogens siger: Frygt er en motiverende faktor for at lære!"
        />

        <Cards
          url="#"
          cardimage="dansenmedregitze.jpg"
          cardimagealt="Kom og dans med Regitze"
          badgenyt="true"
          badgerabat="false"
          badgerabatsats=""
          badgefaapladser="true"
          holdnavn="Dansen med Regitze"
          tidspunkt="Onsdag 14-16"
          aldersgruppe="10-15"
          niveau="Alle"
          pladserpaaholdet="24"
          lokale="Svedhytten"
          holdbeskrivelse="Regitze var barnestjerne i 00'erne, og fik flere disco-dansehits - bl.a. Se den lil' Kat'killing og Per Syvspring. Nu kan du lære hvordan hun laver kickflips og flops!"
          underviserfoto="regitze.jpg"
          underviserfotoalt="Regitze - instruktør på Børnedisco-holdet"
          undervisernavn="Regitze"
          underviserinfo="Regitze elser disco, og hun elsker børn. Så længe det dunker, holder hun sig kørende - og får dine børn til at gøre det samme."
        />

        <Cards
          url="#"
          cardimage="freestyle.jpg"
          cardimagealt="Freestyle dans er sejt "
          badgenyt="false"
          badgerabat="true"
          badgerabatsats="5%"
          badgefaapladser="true"
          holdnavn="Freestyle battle"
          tidspunkt="fredag 12-14"
          aldersgruppe="16-24"
          niveau="God form påkrævet!"
          pladserpaaholdet="24"
          lokale="Svedhytten"
          holdbeskrivelse="Freestyle battle, til alle jer seje drenge og flødefyre, der gerne vil imponere damerne på discoet. Vi laver vilde moves og kommer i god form, så dine chancer for en god aften i byen bliver bedre:-)"
          underviserfoto="lixhansom.jpg"
          underviserfotoalt="Lix Hansom - instruktør på Freestyle battle"
          undervisernavn="Lix Hansom"
          underviserinfo="Lix Hansom er en af danmarks bedste freestyle battle dansere. Han har blandt andet vundet Bornholmsmesterskaberne i Freestyle 2012, inden han flyttede til Ringsted for at blive danseinstruktør."
        />

        <Cards
          url="#"
          cardimage="jitterbug.jpg"
          cardimagealt="Jitterbug dans"
          badgenyt="true"
          badgerabat="false"
          badgerabatsats=""
          badgefaapladser="false"
          holdnavn="Jitterbug"
          tidspunkt="onsdag 18-20"
          aldersgruppe="18+"
          niveau="Mellem"
          pladserpaaholdet="20"
          lokale="Koncertsalen"
          holdbeskrivelse="Jitterbug er til alle jer rock 'n' roll elskere. Kridt danseskoene af, og kom og fyr den af. Lær at kaste med din dansepartner og bruge en kam mens du spjætter med benene."
          underviserfoto="hellvis.jpg"
          underviserfotoalt="Hellvis - instruktør på Jitterbug holdet"
          undervisernavn="Hellvis"
          underviserinfo="Hellvis ligner Elvis - men han er bare en lokal bølle fra Ringsted. Til gengæld kan han danse som Elvis - og det elsker han at gøre. Men pas på - han har det med at forføre damerne på danseholdet."
        />
      </section>
    </section>
    <div class="pt-md"></div>
  </article>
</MainLayout>
